{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Recover your password{% endblock %}


{% block content %}
{% include 'navbar.html' %}

    <div class="container w-75 content-section">
        <p><h2>Recover your password</h2></p>
        <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
        <form action="" method="post">
            {% csrf_token %}
            {{ form | crispy }}
            {{ form.captcha }}
            <br><p><button class="btn btn-outline-info" type="submit">Send email</button></p>
        </form>
    </div>
{% endblock %}